nav.mt-2 ul.nav-sidebar li a:hover{
	background-color:  rgba(255, 188, 246, 0.5) !important;
}

.bg-1{
	background-color: rgb(0, 255, 204);
}
.bg-2{
	background-color: rgb(203, 253, 255);
}
.bg-3{
	background-color: rgb(255, 0, 255);
}

.brand-link
{
	margin-top: -55px;
}

.info{
	font-size: 13px !important;
	letter-spacing: 0.0625em;
	margin:-5px;
}
